<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <script src="/scripts.js"></script>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
        <h1 class="text-center mt-4">Conditions d'utilisation</h1>
        <h2>1. Introduction</h2>
        <p>Bienvenue sur notre site. En utilisant notre service, vous acceptez de vous conformer aux présentes Conditions d'Utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser notre site.</p>

        <h2>2. Compte Utilisateur</h2>
        <p>Pour accéder à certaines fonctionnalités de notre site, vous devez créer un compte utilisateur. Vous êtes responsable de la confidentialité de vos informations de connexion et de toutes les activités qui se produisent sous votre compte.</p>

        <h2>3. Suppression de Compte Utilisateur</h2>
        <p>Vous pouvez demander la suppression de votre compte utilisateur ou le supprimer à tout moment. En cas de suppression de votre compte, les dispositions suivantes s'appliquent :

        <ul><li><b>Transfert de Propriété du Contenu :</b> Toutes les figures que vous avez créées sur notre site ne vous appartiennent plus de droit après la suppression de votre compte. Vous renoncez à tous les droits sur ces figures.</li><br>
        <li><b>Changement d'Identifiant du Créateur :</b> L'identifiant du créateur de toutes les figures que vous avez créées sera automatiquement modifié pour devenir celui de l'administrateur du site. Ainsi, toutes les figures seront administrées par notre équipe.</li></ul>
        </p>
        <h2>4. Modifications des Conditions d'Utilisation</h2>
        <p>Nous nous réservons le droit de modifier ces Conditions d'Utilisation à tout moment. Toute modification sera publiée sur cette page et prendra effet immédiatement. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</p>

        <h2>5. Contact</h2>
        <p>Pour toute question concernant ces Conditions d'Utilisation, veuillez nous contacter à l'adresse suivante : <a href="mailto:caron.tom1@gmail.com">caron.tom1@gmail.com</a>.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>

</html>
